@font-face {
  src: url('../fonts/Inter-Bold.woff2') format('woff2'),
       url('../fonts/Inter-Bold.woff') format('woff');
   font-weight: 900;
   font-family:'Inter-Bold';
   font-style: normal;
}
@font-face {
  src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
       url('../fonts/Inter/Inter-Regular.woff') format('woff');
       font-weight: 400;
       font-family:'Inter-Regular';
       font-style: normal;
}

@font-face {
  src: url('../fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
       url('../fonts/Inter/Inter-SemiBold.woff') format('woff');
       font-weight: 700;
       font-style: normal;
       font-family:'Inter-SemiBold';
}
